body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Header and Navbar */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 55px;
  background-color: #333333;
  padding: 0 15%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  border-radius: 50%;
  height: 45px;
  opacity: 0.8;
}

.brand h1 {
  color: #ffffff;
  margin: 8px;
  font-weight: 400;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  list-style: none;
  margin-left: 18px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.navbar a span {
  background-color: rgb(249, 249, 249);
  line-height: 1;
  padding: 1px 0;
  white-space: nowrap;
  margin-top: 3px;
  position: relative;
  visibility: hidden;
}

.navbar a.active span {
  visibility: visible;
}

.navbar a:hover span {
  visibility: visible;
  transform-origin: left right;
  transform: scaleX(0);
  transition: all 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

/* Hero Section */

#hero {
  height: max-content;
  background-color: #fdf1e9;
  padding: 55px 15%;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cta-wrapper {
  width: 60%;
}

.cta-wrapper h1 {
  font-size: 3rem;
  max-width: 75%;
  color: #333;
  margin: 0;
}

.cta-wrapper p {
  font-size: 1.2rem;
  color: #333;
  text-align: justify;
  max-width: 90%;
  margin-bottom: 40px;
  line-height: 1.8;
}

.orange-text {
  color: #e67d23;
}

.cta-btn {
  background-color: #e67d23;
  border: 0;
  padding: 8px 18px;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: inherit;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #333;
  transition: ease-out 0.2s;
}

.user-imgs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0;
}

.user-imgs {
  width: 50%;
}

.user-imgs img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: fill;
  margin-left: -18px;
  border: 2px solid #fdf1e9;
}

.user-imgs-wrapper p {
  width: 70%;
  font-weight: 500;
  color: #333;
  margin: 0;
  text-align: start;
}

.img-wrapper {
  width: 40%;
}

.img-wrapper img {
  height: 70vh;
}

/* Services Section */

#services {
  background-color: #1e1d22;
  padding: 70px;
}

.services-header {
  text-align: center;
  color: #ffffff;
}

.services-header h1 {
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.red-text {
  color: #f80036;
  font-weight: 900;
}

.red-line-break {
  height: 1.5px;
  background-color: #f80036;
  width: 150px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.red-line-break span {
  border: 2px solid #f80036;
  display: inline-block;
  width: 50px;
}

.services-header p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 30px;
}

.services-card-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  padding: 3% 8%;
  gap: 50px 20px;
  justify-content: center;
  align-items: center;
}

.service-card {
  background-color: #24252a;
  padding: 30px;
  height: 290px;
  box-shadow: 2px 2px 5px;
  border-radius: 2px;
}

.line-break {
  height: 2px;
  width: 100%;
  background-color: #1c1d22;
}

.service-card h2 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}

.service-card p {
  text-align: left;
  color: #717271;
  line-height: 1.5;
  font-weight: 500;
  margin: 20px auto;
  font-size: 0.9rem;
}

.service-card a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.service-card .icon {
  color: #f70037;
}

.service-card:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* Testimonials Section */

#testimonials {
  height: max-content;
  background-color: #fdf1e9;
  padding: 55px 15%;
}

.testimonial-header {
  text-align: center;
}

.testimonial-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.testimonial-header .red-line-break {
  height: 3px;
}

.testimonial-header .red-line-break span {
  border: 3px solid #f70037;
  border-radius: 2px;
}

.testimonial-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  text-align: center;
  height: 320px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  flex: 1;
}

.testimonial-card img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  object-fit: cover;
}

.testimonial-card .user-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.testimonial-card p {
  color: #717271;
  font-size: 0.9rem;
  line-height: 1.5;
}

.star-rating i {
  color: #f0922b;
}

.testimonial-card:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* Contact Us Section */

#contact-us {
  height: max-content;
  background-color: #fdf1e9;
  padding: 55px 15%;
}

.contact-container {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 24px;
  box-shadow: 1px 1px 25px #ccc;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

.contact-form-wrapper {
  position: absolute;
  left: 0;
  bottom: -100;
  margin-left: 80px;
}

.contact-form-wrapper h1 {
  color: #1e1d22;
  font-size: 2.1rem;
  letter-spacing: 1.5px;
  margin: 0;
}

.contact-form-wrapper p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.contact-form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form-wrapper input,
textarea {
  padding: 4px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 10px;
}

.contact-form-wrapper form button {
  width: 95%;
  text-align: center;
  margin: 30px auto;
  padding: 8px;
  border-radius: 25px;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
  background: linear-gradient(
    5deg,
    rgba(50, 44, 201, 1) 31%,
    rgba(113, 37, 166, 1) 100%
  );
  cursor: pointer;
}

.contact-form-wrapper form button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.contact-info {
  background-color: #2d2d2d;
  color: #fff;
  padding: 40px;
  border-radius: 24px 0 0 24px;
  position: absolute;
  right: 0;
  bottom: -100;
  width: 250px;
  height: 250px;
}

.contact-info h5 {
  margin: 0;
  margin-bottom: 40px;
}

.contact-info i {
  color: #fff;
}
.contact-info p {
  margin-bottom: 25px;
  font-size: 0.9rem;
}

.contact-info p i {
  margin-right: 10px;
}

.social-links {
  text-align: end;
  margin: 50px auto;
}

.social-links a {
  margin: 10px;
}

/* Footer section */

#footer {
  height: max-content;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #151414;
  padding: 15px 15%;
  justify-content: space-between;
  align-items: start;
}

.footer-container h1 {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.social-links-wrapper {
  flex: 1;
}

.social-links-imgs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.social-links-imgs a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  border: 0;
  margin:  auto 20px;
  text-decoration: none;
}

.social-links-imgs  .facebook {
  background-image: url("facebook-icon.png");
  margin-left: 0;
}

.social-links-imgs  .twitter {
  background-image: url("twitter-x-logo.png");
}

.social-links-imgs  .instagram {
  background-image: url("instagram-logo.png");
}

.useful-links-wrapper{
  flex: 2;
  text-align: start;
}

.useful-links-wrapper .red-line-break{
  width: 50px;
  text-align: left;
  margin-left: 1px;
  margin-top: 10px;
}

.links-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
  justify-content: space-evenly;
  align-items: start;
}

.links-container a{
  text-decoration: none;
  color: #717271;
  margin-top: 5px;
  font-size: 0.9rem;
}

.newsletter-wrapper .red-line-break{
  width: 50px;
  text-align: left;
  margin-left: 1px;
  margin-top: 10px;
}

.newsletter-wrapper{
  flex: 1;
}

.newsletter-wrapper p{
  font-size: 0.8rem;
  color: #717271;
  margin-top: 30px;
}

.newsletter-form{
  display: flex;
}

.newsletter-form input{
  padding: 12px 20px;
  border: none;
  background-color: #202020;
  margin-right: 0;
}

.newsletter-form button{
  background-color: #f70037;
  border: 0;
  padding: 12px 18px;
  margin-left: 0;
  cursor: pointer;
}

.copyright-footer {
  background-color: #202020;
  padding: 10px;
  text-align: center;
  color: #717271;
  font-weight: 500;
}
